@font-face {
	font-family: 'tableless-site';
	src:url('tableless-site.eot?-pdk0xy');
	src:url('tableless-site.eot?#iefix-pdk0xy') format('embedded-opentype'),
		url('tableless-site.woff?-pdk0xy') format('woff'),
		url('tableless-site.ttf?-pdk0xy') format('truetype'),
		url('tableless-site.svg?-pdk0xy#tableless-site') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'tableless-site';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paragraph-justify:before {
	content: "\e600";
}
.icon-google-plus:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-console:before {
	content: "\e604";
}
.icon-code:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e606";
}
.icon-paypal:before {
	content: "\e607";
}
.icon-paypal2:before {
	content: "\e608";
}
.icon-stackoverflow:before {
	content: "\e609";
}
.icon-chrome:before {
	content: "\e60a";
}
.icon-firefox:before {
	content: "\e60b";
}
.icon-IE:before {
	content: "\e60c";
}
.icon-opera:before {
	content: "\e60d";
}
.icon-safari:before {
	content: "\e60e";
}
.icon-css3:before {
	content: "\e60f";
}
.icon-html5:before {
	content: "\e610";
}
.icon-file-css:before {
	content: "\e611";
}
.icon-html52:before {
	content: "\e612";
}
.icon-file-xml:before {
	content: "\e613";
}
.icon-file-zip:before {
	content: "\e614";
}
.icon-android:before {
	content: "\e615";
}
.icon-windows8:before {
	content: "\e616";
}
.icon-wordpress:before {
	content: "\e617";
}
.icon-wordpress2:before {
	content: "\e618";
}
.icon-github2:before {
	content: "\e619";
}
.icon-tux:before {
	content: "\e61a";
}
.icon-finder:before {
	content: "\e61b";
}
.icon-table:before {
	content: "\e61c";
}
.icon-insert-template:before {
	content: "\e61d";
}
.icon-menu:before {
	content: "\e61e";
}
.icon-bars:before {
	content: "\e61f";
}
.icon-stats:before {
	content: "\e620";
}
.icon-unlocked:before {
	content: "\e621";
}
.icon-lock:before {
	content: "\e622";
}
.icon-home:before {
	content: "\e623";
}
.icon-office:before {
	content: "\e624";
}
.icon-pencil:before {
	content: "\e625";
}
.icon-file:before {
	content: "\e626";
}
.icon-profile:before {
	content: "\e627";
}
.icon-file2:before {
	content: "\e628";
}
.icon-file3:before {
	content: "\e629";
}
.icon-disk:before {
	content: "\e62a";
}
.icon-users:before {
	content: "\e62b";
}
.icon-search:before {
	content: "\e62c";
}
